apiVersion: apps/v1
kind: Deployment
metadata:
  name: insecure-worker
  namespace: google
spec:
  replicas: 1
  selector:
    matchLabels:
      app: insecure-worker
  template:
    metadata:
      labels:
        app: insecure-worker
    spec:
      # --- MISCONFIGURATION (POD) ---
      # Shares the host's process ID namespace.
      hostPID: true
      # ------------------------------
      containers:
      - name: main
        image: busybox:1.36
        command: [ "sleep", "3600" ]
        env:
        # Trivy will find and flag these
        - name: SLACK_BOT_TOKEN
          value: "xoxb-1234567890-0987654321-aBcDeFgHiJkLmNoPqRs"
        - name: INTERNAL_API_KEY
          value: "sk_live_1234567890abcdefghijklmnopqrstuv"
          
        # --- MISCONFIGURATIONS (CONTAINER) ---
        securityContext:
          # (Critical) Gives the container root access to the host
          privileged: true
          
          # (High) Allows the container to escalate privileges
          allowPrivilegeEscalation: true
          
          # (High) Explicitly running as the root user
          runAsUser: 0
          
          # (High) Adding dangerous capabilities
          capabilities:
            add:
            - "NET_RAW"
        # ----------------------------------------
